---
import { DaisyCheckbox } from "./atoms/Checkbox";
---

<div>
  <span class="text-blue-600 text-2xl font-bold">Checkbox</span>

  <div class="grid grid-cols-3 gap-4 mt-6 !text-black">
    <DaisyCheckbox client:load />
  </div>
</div>
