---
import { DaisyInput } from "./atoms/Input";
---

<div>
  <span class="text-blue-600 text-2xl font-bold">Input</span>

  <div class="mt-6 !text-black">
    <DaisyInput client:load />
  </div>
</div>
