---
import { DaisySwitch } from "./atoms/Switch";
---

<div>
  <span class="text-blue-600 text-2xl font-bold">Switch</span>

  <div class="grid grid-cols-3 gap-4 mt-6 !text-black">
    <DaisySwitch client:load />
  </div>
</div>
